<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GitPatcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GitPatcher.My.MySettings>
            <setting name="Repo1" serializeAs="String">
                <value>C:\GitRepo\ProjAppSrc</value>
            </setting>
            <setting name="Repo2" serializeAs="String">
                <value>C:\Repos\GitSlave1</value>
            </setting>
            <setting name="Repo3" serializeAs="String">
                <value>C:\Repos\GitSlave2</value>
            </setting>
            <setting name="Repo4" serializeAs="String">
                <value>F:\GitRepos\ProjAppSrc</value>
            </setting>
            <setting name="Repos" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\GitRepo\ProjAppSrc</string>
                        <string>F:\GitRepos\ProjAppSrc</string>
                        <string>C:\Repos\GitSlave1</string>
                        <string>C:\Repos\GitSlave2</string>
                        <string>AnotherRepo</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CurrentRepo" serializeAs="String">
                <value>C:\Repos\GitSlave1</value>
            </setting>
        </GitPatcher.My.MySettings>
    </userSettings>
</configuration>