<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GitPatcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GitPatcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GitPatcher.My.MySettings>
            <setting name="CurrentRepo" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLpath" serializeAs="String">
                <value>C:\Oracle\product\sqlcl\bin\sql.exe</value>
            </setting>
            <setting name="CurrentDB" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPhost" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPport" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="RecipientList" serializeAs="String">
                <value />
            </setting>
            <setting name="RecipientDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="GITpath" serializeAs="String">
                <value>C:\Program Files\Git\bin\git.exe</value>
            </setting>
            <setting name="PatchRunnerFilter" serializeAs="String">
                <value>feature</value>
            </setting>
            <setting name="XMLRepoFilePath" serializeAs="String">
                <value>..\..\..\GitRepos.xml</value>
            </setting>
            <setting name="JSONRepoFilePath" serializeAs="String">
                <value>..\..\..\GitRepos.json</value>
            </setting>
        </GitPatcher.My.MySettings>
    </userSettings>
<applicationSettings>
        <GitPatcher.My.MySettings>
                <setting name="MinPatch" serializeAs="String">
                        <value>0.0.1</value>
                </setting>
        </GitPatcher.My.MySettings>
    </applicationSettings>
</configuration>